#contact {
    background: radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.9) 100%), url(./../../assets/contact-img.png) center / cover no-repeat;
    color: var(--color-primary);
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15rem;
}

#contact-container h2{
    font-size: 2rem;
    color: var(--color-active);
}

#main-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 2rem;
}

#socials-container a{
    text-decoration: none;
    color: var(--color-hover);
}

#socials-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

#review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#review-container a{
    text-decoration: none;
    color: var(--color-hover);
    font-size: 1.5rem;
}