footer {
    background-color: rgb(8, 8, 8);
    color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    font-family: var(--font-main);
}

#author-container a{
    text-decoration: none;
    color: var(--color-main);
}

#privacy-container{
    display: flex;
    gap: 2rem;
}

#socials-book-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#socials-book-container a{
    text-decoration: none;
    color: var(--color-main);
}